
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <th th:text="${user.get().getEmail()}"></th> with roles: <td th:text="${user.get().toStringRoles()}"></td></a>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid ">
    <div class="row ">
        <div class="col-2 bg-white pt-3 min-vh-100 px-0">
            <div class="container-fluid px-0">
                <ul class="nav flex-column nav-pills ">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/gen">Admin</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user">User</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col  pt-3 h-100 min-vh-100 bg-light">
            <!-- Admin panel -->
            <div class="container-fluid">
                <h1 class="display-6"><b>User Info</b></h1>
                <div class="container-fluid bg-white py-3 px-4">
                    <table class="table table-striped border-top">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Roles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <td th:text="${user.get().getId()}">VALUE</td>
                        <td th:text="${user.get().getEmail()}">VALUE</td>
                        <td th:text="${user.get().getName()}">VALUE</td>
                        <td th:text="${user.get().getLastName()}">VALUE</td>
                        <td th:text="${user.get().getAge()}">VALUE</td>
                        <td>
                            <th:block th:each="role : ${user.get().getRoles()}">
                                &nbsp;<span th:text="${role.toString()}"/>
                            </th:block>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
